@font-face {
  font-family: "iconfont"; /* Project id 3952247 */
  src: url('iconfont.woff2?t=1679044045539') format('woff2'),
       url('iconfont.woff?t=1679044045539') format('woff'),
       url('iconfont.ttf?t=1679044045539') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongengduo:before {
  content: "\e61f";
}

.iconqianjin:before {
  content: "\e605";
}

.iconwangyou:before {
  content: "\e600";
}

.iconlishijilu:before {
  content: "\eaf7";
}

.icongifts:before {
  content: "\e601";
}

.iconlibaoyouhui:before {
  content: "\e630";
}

.iconjujiao:before {
  content: "\e63f";
}

.iconshoucang:before {
  content: "\e663";
}

.icondingyuehao:before {
  content: "\e736";
}

.iconmaikefeng:before {
  content: "\e606";
}

.iconVIP:before {
  content: "\e68e";
}

.iconxiazaidaoru:before {
  content: "\e8c6";
}

.iconsousuo1:before {
  content: "\e60a";
}

.iconfanhui2:before {
  content: "\e610";
}

.iconbofang:before {
  content: "\e664";
}

.iconyunxiazai:before {
  content: "\eb2c";
}

.iconshouye1:before {
  content: "\e622";
}

.icondianzan:before {
  content: "\ec7f";
}

.icontianjia:before {
  content: "\e62d";
}

.iconwode:before {
  content: "\e60b";
}

.iconxiaoxi:before {
  content: "\e60c";
}

.iconxiaoxi1:before {
  content: "\e607";
}

.iconredian:before {
  content: "\e608";
}

.iconshoucang1:before {
  content: "\e625";
}

.iconvip:before {
  content: "\e61b";
}

.icongood:before {
  content: "\e62a";
}

.iconjujiao1:before {
  content: "\e654";
}

.iconxiazai:before {
  content: "\e621";
}

.iconef-redian-gongju:before {
  content: "\e629";
}

.iconwode1:before {
  content: "\e603";
}

.iconxiaoxi2:before {
  content: "\e64b";
}

.iconpaixu2:before {
  content: "\e64e";
}

.iconlishi:before {
  content: "\e61a";
}

.icontianjia2:before {
  content: "\e7df";
}

.iconbofang1:before {
  content: "\e627";
}

.iconmaikefeng1:before {
  content: "\e7d0";
}

.iconcaidan:before {
  content: "\e612";
}

.iconfl-jia:before {
  content: "\e624";
}

.iconsousuo:before {
  content: "\ee17";
}

